{% extends 'general/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forum.css') }}">
{% endblock styles %}

{% block titlePage %}
<h1 class="main_title_case_page">Форум</h1>
{% endblock titlePage %}

{% block main %}

<section class="Forum">

    <div class="forum_menu">
        <form action="{{ url_for('forum.search_post') }}" class="search_post_form" method="POST">
            <label for="search_post">
            </label>
            <input name="condition" type="text" id="search_post">
            <button type="submit" class="button_search">
                <i class="fas fa-search"></i>
            </button>

        </form>
        {% if current_user.is_authenticated %}
        <button id="create_post_btn">Создать пост <span><i class="fas fa-pen-alt"></i></span></button>
        {% endif %}
    </div>

    <ul class="posts_list">
        {% for post in posts %}
        <li class="post">
            <div class="author_box">
                <a class="author_link" href="#">
                    <div class="author_img_box">
                        <img src="{{ url_for('static', filename='img/News__image.png') }}" alt="">
                    </div>
                    <h3 class="author">{{ post.author.first_name }} <span>{{ post.author.last_name }}</span></h3>
                </a>
            </div>
            <a class="post_link" href="{{ url_for('forum.instance_post', id=post.id) }}">
                <h2 class="post_title">{{ post.title }}</h2>
            </a>
            <p class="post_date_created">{{ post.date }}</p>
            <div class="post_content">
                <div class="post_text">
                    {{ post.text }}
                </div>
                <ul class="post_img_list">
                    <li class="post_image_item">
                        <img src="{{ url_for('static', filename='img/News__image.png') }}" alt=""
                        >
                    </li>
                    <li class="post_image_item">
                        <img src="{{ url_for('static', filename='img/recipe__image.png') }}" alt=""
                        >
                    </li>
                    <li class="post_image_item">
                        <img src="{{ url_for('static', filename='img/recipe__image.png') }}" alt=""
                        >
                    </li>
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>

</section>

<section id="Create_post" class="Create_post">
    <h3 class="create_post_form_title">Create post</h3>
    <form action="{{ url_for('forum.create_post') }}" class="create_post_form" method="POST"
          enctype="multipart/form-data">
        <label for="title_create_post" class="title_create_post"></label>
        <label for="text_create_post" class="label text_create_post"></label>
        <input name="title" placeholder="Title" type="text" id="title_create_post">
        <textarea name="text" placeholder="Text" id="text_create_post"></textarea>
        <label class="attach_item_label" for="attach_item_btn">
            <input name="files[]" type="file" id="attach_item_btn" accept="image/*" multiple>
            <span>Attach item  </span>
            <i class="fas fa-paperclip"></i>
        </label>
        <button type="submit" class="agree_create_post">Create</button>
    </form>
    <button id="close_create_post_form"><i class="fas fa-times"></i></button>
</section>

{% endblock main %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/forum.js') }}"></script>
{% endblock scripts %}