{% extends 'general/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/conferences.css') }}">
{% endblock styles %}

{% block titlePage %}
<h1 class="main_title_conferences_page">Конференции</h1>
{% endblock titlePage %}

{% block main %}

{% if u_conf %}
<section class="Conference">

    <div class="conference_box">
        <h2 class="conference_main_title">Предстоящие конференции</h2>
        <div class="slider_conference">
            <div class="conference_item">
                <div class="conference_item_img_box">
                    <img src="{{ url_for('static', filename='img/News__image.png') }}" alt="#"
                         class="conference_item_img">
                </div>
                <div class="conference_item_content">
                    <h3 class="conference_item_title">
                        <a href="{{ url_for('conferences.conferences_instance', id=u_conf.id ) }}">{{
                            u_conf.title }}</a>
                    </h3>
                    <p class="conference_item_description">
                        {{ u_conf.text }}
                    </p>
                    <a href="{{ url_for('conferences.conferences_instance', id=u_conf.id) }}"
                       class="conference_item_link_learn_more">Узнать больше</a>
                </div>
            </div>
        </div>
        <a href="{{ url_for('conferences.conferences_list') }}" class="all_conferences">Все конференции</a>
    </div>

</section>

{% endif %}

<section class="Past_conference">

    <div class="past_conference_box">
        <h2 class="past_conference_main_title">Прошедшие конференции</h2>
        <div class="past_slider_conference">
            <div class="past_conference_item">
                <div class="past_conference_item_img_box">
                    <img src="{{ url_for('static', filename='img/News__image.png') }}" alt="#"
                         class="past_conference_item_img">
                </div>
                <div class="past_conference_item_content">
                    <h3 class="past_conference_item_title">
                        <a href="{{ url_for('conferences.conferences_instance', id=p_conf.id) }}">{{ p_conf.title }}</a>
                    </h3>
                    <p class="past_conference_item_description">
                        {{ p_conf.text }}
                    </p>
                    <a href="{{ url_for('conferences.conferences_instance', id=p_conf.id) }}"
                       class="past_conference_item_link_learn_more">Узнать больше</a>
                </div>
            </div>
        </div>
        <a href="{{ url_for('conferences.past_conferences_list') }}" class="all_past_conferences">Все прошедшии
            коференции</a>
    </div>

</section>

{% endblock main %}