{% extends 'general/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock styles %}

{% block titlePage %}
<h1 class="main_title_home_page">Будущее за СПО</h1>
{% endblock titlePage %}

{% block main %}

{% if ads %}
<section class="Ads">
    <article class="ads_box">
        <h2 class="ads_title">Объявление</h2>
        <div class="ads_content">
            <p class="ads_text">
                <span>
                    {{ ads.text }}
                </span>
            </p>
            <div class="ads_image_box">
                <img src="{{ url_for('static', filename='img/News__image.png') }}" alt="">
            </div>
        </div>

    </article>
</section>
{% endif %}

<section class="News">
    <article class="news_box">
        <div class="news_head">
            <a href="{{ url_for('general.news') }}" class="news_link-icon"><i class="fas fa-newspaper"></i></a>
            <a href="{{ url_for('general.news') }}" class="news_link"><h2 class="news_title">Новости</h2></a>
            <p class="news_description">
                <span>
                    Узнавайте о жизни техникума на нашем сайте
                </span>
            </p>
        </div>
        <ul class="news_content">
            {% for news in news_list %}
            <li class="news_item">
                <div class="news_image_box"><img src="{{ url_for('static', filename='img/News__image.png') }}" alt="">
                </div>
                <div class="news_title-date">
                    <a href="{{ url_for('general.news_item', id=news.id) }}"><h3 class="news_item_title">{{ news.title }}</h3></a>
                    <span class="news_item_date">{{ news.date }}</span>
                </div>
                <p class="news_item_text">
                    <span>
                        {{ news.text }}
                    </span>
                </p>
            </li>
            {% endfor %}
        </ul>
    </article>
</section>

<section class="Recipe">
    <article class="recipe_box">

        <div class="recipe_image_box">
            <img src="{{ url_for('static', filename=recipe.images) }}" alt=""></div>
        <div class="recipe_content">
            <a href="{{ url_for('general.recipes') }}" class="recipes_link-icon"><i
                    class="fas fa-concierge-bell"></i></a>
            <a href="{{ url_for('general.recipes_item', id=recipe.id) }}" class="recipes_link-title"><h2
                    class="recipe_title">{{ recipe.title }}</h2></a>
            <p class="recipe_text">
                <span>
                    {{ recipe.text }}
                </span>
            </p>
            <a href="{{ url_for('general.recipes') }}" class="recipes_link">Больше рецептов</a>
        </div>
    </article>
</section>

<section class="Gallery">
    <article class="gallery_box">
        <a href="{{ url_for('gallery.gallery_page') }}" class="gallery_link-icon"><i class="fas fa-images"></i></a>
        <a href="{{ url_for('gallery.gallery_page') }}" class="gallery_link">
            <h2 class="gallery_title">Галерея</h2>
        </a>
        <div class="gallery_content">
            <div class="gallery_image_box">
                <img class="instance_image" src="{{ url_for('static', filename='img/recipe__image.png') }}" alt="">
                <a href="{{ url_for('gallery.gallery_page') }}" class="gallery_image_link"></a>
            </div>
            <div class="gallery_image_box">
                <img class="instance_image" src="{{ url_for('static', filename='img/News__image.png') }}" alt="">
                <a href="{{ url_for('gallery.gallery_page') }}" class="gallery_image_link"></a>
            </div>
            <div class="gallery_image_box">
                <img class="instance_image" src="{{ url_for('static', filename='img/recipe__image.png') }}" alt="">
                <a href="{{ url_for('gallery.gallery_page') }}" class="gallery_image_link"></a>
            </div>
            <div class="gallery_image_box">
                <img class="instance_image" src="{{ url_for('static', filename='img/News__image.png') }}" alt="">
                <a href="{{ url_for('gallery.gallery_page') }}" class="gallery_image_link"></a>
            </div>
            <div class="gallery_image_box">
                <img class="instance_image" src="{{ url_for('static', filename='img/recipe__image.png') }}" alt="">
                <a href="{{ url_for('gallery.gallery_page') }}" class="gallery_image_link"></a>
            </div>
            <div class="gallery_image_box">
                <img class="instance_image" src="{{ url_for('static', filename='img/News__image.png') }}" alt="">
                <a href="{{ url_for('gallery.gallery_page') }}" class="gallery_image_link"></a>
            </div>
        </div>
    </article>
</section>

{% endblock main %}
