{% extends 'general/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock styles %}

{% block titlePage %}
<h1 class="main_title_home_page">Future for APS</h1>
{% endblock titlePage %}

{% block main %}

<section class="Ads">
    <article class="ads_box">
        <h2 class="ads_title">Ads</h2>
        <div class="ads_content">
            <p class="ads_text">
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aperiam illo modi sint. Aperiam dicta eos laboriosam quisquam sit. Accusamus ad
                    aliquid autem consequuntur eos minima optio repellendus sed sunt tempora.
                </span>
            </p>
            <div class="ads_image_box">
                <img src="{{ url_for('static', filename='img/News__image.png') }}" alt="">
            </div>
        </div>

    </article>
</section>

<section class="News">
    <article class="news_box">
        <div class="news_head">
            <a href="#" class="news_link-icon"><i class="fas fa-newspaper"></i></a>
            <a href="#" class="news_link"><h2 class="news_title">News</h2></a>
            <p class="news_description">
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Aperiam enim esse exercitationem iusto maiores
                </span>
            </p>
        </div>
        <div class="news_content">
            <div class="news_item">
                <div class="news_image_box"><img src="{{ url_for('static', filename='img/News__image.png') }}" alt="">
                </div>
                <div class="news_title-date">
                    <a href="#"><h3 class="news_item_title">Some news</h3></a>
                    <span class="news_item_date">some date</span>
                </div>
                <p class="news_item_text">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias animi ea eaque esse,
                        expedita fugiat fugit ipsa iure modi nam obcaecati
                        officia quis, sint ullam ut veniam voluptas voluptatem.
                    </span>
                </p>
            </div>
            <div class="news_item">
                <div class="news_image_box"><img src="{{ url_for('static', filename='img/News__image.png') }}" alt="">
                </div>
                <div class="news_title-date">
                    <a href="#"><h3 class="news_item_title">Some news</h3></a>
                    <span class="news_item_date">some date</span>
                </div>
                <p class="news_item_text">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias animi ea eaque esse,
                        expedita fugiat fugit ipsa iure modi nam obcaecati
                        officia quis, sint ullam ut veniam voluptas voluptatem.
                    </span>
                </p>
            </div>
        </div>
    </article>
</section>

<section class="Recipe">
    <article class="recipe_box">

        <div class="recipe_image_box">
            <img src="{{ url_for('static', filename='img/recipe__image.png') }}" alt=""></div>
        <div class="recipe_content">
            <a href="#" class="recipes_link-icon"><i class="fas fa-concierge-bell"></i></a>
            <a href="#" class="recipes_link-title"><h2 class="recipe_title">Some recipe</h2></a>
            <p class="recipe_text">
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias aliquam cumque, dicta dolor earum eligendi enim est excepturi,
                    impedit, necessitatibus quo similique voluptatem. Aut corporis eaque
                    eveniet, illo perferendis vel?
                </span>
            </p>
            <a href="#" class="recipes_link">More recipes</a>
        </div>
    </article>
</section>

<section class="Gallery">
    <article class="gallery_box">
        <a href="#" class="gallery_link-icon"><i class="fas fa-images"></i></a>
        <a href="#" class="gallery_link">
            <h2 class="gallery_title">Gallery</h2>
        </a>
        <div class="gallery_content">
            <div class="gallery_image_box">
                <img src="{{ url_for('static', filename='img/recipe__image.png') }}" alt="">
                <a href="#" class="gallery_image_link"></a>
            </div>
            <div class="gallery_image_box">
                <img src="{{ url_for('static', filename='img/News__image.png') }}" alt="">
                <a href="#" class="gallery_image_link"></a>
            </div>
            <div class="gallery_image_box">
                <img src="{{ url_for('static', filename='img/recipe__image.png') }}" alt="">
                <a href="#" class="gallery_image_link"></a>
            </div>
            <div class="gallery_image_box">
                <img src="{{ url_for('static', filename='img/News__image.png') }}" alt="">
                <a href="#" class="gallery_image_link"></a>
            </div>
            <div class="gallery_image_box">
                <img src="{{ url_for('static', filename='img/recipe__image.png') }}" alt="">
                <a href="#" class="gallery_image_link"></a>
            </div>
            <div class="gallery_image_box">
                <img src="{{ url_for('static', filename='img/News__image.png') }}" alt="">
                <a href="#" class="gallery_image_link"></a>
            </div>
        </div>
    </article>
</section>

{% endblock main %}
