{% extends 'general/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/instance.css') }}">
{% endblock styles %}


{% block main %}

<section class="Instance">

    <div class="instance_content">
        <div class="instance_text_box">
            {% block item_title %}
            <h2 class="instance_title">{{ item.title }}</h2>
            {% endblock item_title %}

            <p class="instance_text">
                {{ item.text }}
            </p>

            {% block date %}
            <span class="instance_date">{{ item.date }}</span>
            {% endblock date %}

        </div>
        <ul class="instance_image_list">
            {% block images %}
            <li class="instance_image_item">
                <img class="instance_image" src="{{ url_for('static', filename=item.images) }}" alt=""/>
            </li>
            {% endblock images %}
        </ul>
    </div>

</section>

{% block item_extention %}
{% endblock %}

<section id="Reveal_img">
    <img id="reveal_image" src="" alt=""/>
</section>

{% endblock main %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/instance.js') }}"></script>
{% endblock scripts %}