{% extends 'general/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/items_list.css') }}">
{% endblock styles %}

{% block titlePage %}
<h1 class="main_title_items_page">{{ title }}</h1>
{% endblock titlePage %}

{% block main %}

<section class="Items">

    <ul class="items_list">
        {% block items_list %}
        {% for item in items %}
        <li class="item">
            <a href="{{ url_for('general.news_item', id=item.id) }}" class="item_link">
                <h2 class="item_title">{{ item.title }}</h2>
            </a>
            <p class="item_description">
                {{ item.text }}
            </p>
            <span class="item_date">{{ item.date }}</span>
        </li>
        {% endfor %}
        {% endblock items_list %}
    </ul>

</section>

{% endblock main %}
