{% extends 'general/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{% endblock styles %}

{% block titlePage %}
<h1 class="main_title_news_page">News</h1>
{% endblock titlePage %}

{% block main %}

<section class="News">

    <ul class="news_list">
        <li class="news_item">
            <a href="{{ url_for('general.news_item', id='1') }}" class="news_item_link">
                <h2 class="news_title">Some title of news</h2>
            </a>
            <p class="news_item_description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi assumenda commodi consectetur eos
                et eum facilis id in libero minima modi molestias perferendis porro quod, quos sequi sit unde.
            </p>
            <span class="news_item_date">12.12.20</span>
        </li>

        <li class="news_item">
            <a href="{{ url_for('general.news_item', id='2') }}" class="news_item_link">
                <h2 class="news_title">Some title of news</h2>
            </a>
            <p class="news_item_description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi assumenda commodi consectetur eos
                et eum facilis id in libero minima modi molestias perferendis porro quod, quos sequi sit unde.
            </p>
            <span class="news_item_date">12.12.20</span>
        </li>
        <li class="news_item">
            <a href="{{ url_for('general.news_item', id='2') }}" class="news_item_link">
                <h2 class="news_title">Some title of news</h2>
            </a>
            <p class="news_item_description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi assumenda commodi consectetur eos
                et eum facilis id in libero minima modi molestias perferendis porro quod, quos sequi sit unde.
            </p>
            <span class="news_item_date">12.12.20</span>
        </li>
    </ul>

</section>

{% endblock main %}
