{% extends 'general/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/instance.css') }}">
{% endblock styles %}


{% block main %}

<section class="Instance">

    <div class="instance_content">
        <div class="instance_text_box">
            <h2 class="instance_title">Some instance</h2>
            <p class="instance_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis consectetur culpa cum
                deleniti eveniet exercitationem explicabo id ipsam maxime, natus nisi quasi, ratione recusandae rerum
                saepe voluptatem, voluptates voluptatum.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis consectetur culpa cum
                deleniti eveniet exercitationem explicabo id ipsam maxime, natus nisi quasi, ratione recusandae rerum
                saepe voluptatem, voluptates voluptatum.
            </p>

            <span class="instance_date">12.12.20</span>

        </div>
        <ul class="instance_image_list">
            <li class="instance_image_item">
                <img class="instance_image" src="{{ url_for('static', filename='img/News__image.png') }}" alt=""/>
            </li>
            <li class="instance_image_item">
                <img class="instance_image" src="{{ url_for('static', filename='img/recipe__image.png') }}" alt=""/>
            </li>
            <li class="instance_image_item">
                <img class="instance_image" src="{{ url_for('static', filename='img/News__image.png') }}" alt=""/>
            </li>
            <li class="instance_image_item">
                <img class="instance_image" src="{{ url_for('static', filename='img/recipe__image.png') }}" alt=""/>
            </li>
            <li class="instance_image_item">
                <img class="instance_image" src="{{ url_for('static', filename='img/News__image.png') }}" alt=""/>
            </li>
            <li class="instance_image_item">
                <img class="instance_image" src="{{ url_for('static', filename='img/recipe__image.png') }}" alt=""/>
            </li>
        </ul>
    </div>

</section>

<section id="Reveal_img">
    <img id="reveal_image" src="" alt=""/>
</section>

{% endblock main %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/instance.js') }}"></script>
{% endblock scripts %}