{% extends 'general/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/instance.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock styles %}

{% block titlePage %}
<h1 class="main_title_gallery_page">Галерея</h1>
{% endblock titlePage %}

{% block main %}

<section class="Gallery">
    <ul class="gallery_list">
        {% for item in items %}
        <li class="gallery_item">
            <img class="instance_image" src="{{ url_for('static', filename=item.url) }}" alt="">
        </li>
        {% endfor %}
    </ul>
</section>

<section id="Reveal_img">
    <img id="reveal_image" src="../../static/img/bgBanner.jpg" alt=""/>
</section>


{% endblock main %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/instance.js') }}"></script>
{% endblock scripts %}