header {
    position: relative;

    height: 400px;

    background-color: #e9e9e9;
}

.title_page_box {
    top: calc(50% + 20px);
}

.main_title_conferences_page {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #252424;
}


.Conference {
    padding: 80px 0;
}

.conference_box {
    position: relative;

    margin: 0 auto;

    width: 75%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conference_main_title {
    position: relative;

    margin: 20px 0;

    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    color: #252424;
}

.conference_main_title:after {
    content: "";

    position: absolute;

    bottom: -10px;
    left: 50%;
    transform: translate(-50%);

    width: 40%;
    height: 2px;

    background-color: #da532c;
}

.slider_conference {
    position: relative;

    padding: 30px 0;

    width: 100%;
}

.conference_item {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.conference_item_img_box {
    position: relative;

    width: 40%;

    overflow: hidden;
}

.conference_item_img {
    width: 110%;
}

.conference_item_content {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conference_item_title {
    position: relative;

    margin: 20px 0;

    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
}

.conference_item_title a {
    color: #313132;
}

.conference_item_title:after {
    content: "";

    position: absolute;

    bottom: -5px;
    left: 50%;

    transform: translate(-50%);

    width: 40%;
    height: 2px;

    background-color: #da532c;
}


.conference_item_description {
    color: #5b5959;
}

.conference_item_link_learn_more {
    margin: 30px 0;
    padding: 5px 10px;

    width: 200px;

    border-radius: 40px;
    background-color: #da532c;

    font-size: 16px;
    text-align: center;
    color: #252525;

    transition: all .2s;
}

.conference_item_link_learn_more:hover {
    background-color: rgba(228, 68, 24, 0.79);
}

.all_conferences {
    margin: 15px 0;
    padding: 7px 13px;

    width: 300px;

    border-radius: 40px;
    background-color: #da532c;

    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;

    transition: all .2s;
}

.all_conferences:hover {
    background-color: rgba(228, 68, 24, 0.79);
}




.Past_conference {
    padding: 80px 0;

    background-color: #f5f5f5;
}

.past_conference_box {
    position: relative;

    margin: 0 auto;

    width: 75%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.past_conference_main_title {
    position: relative;

    margin: 20px 0;

    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    color: #252424;
}

.past_conference_main_title:after {
    content: "";

    position: absolute;

    bottom: -10px;
    left: 50%;
    transform: translate(-50%);

    width: 40%;
    height: 2px;

    background-color: #da532c;
}

.past_slider_conference {
    position: relative;

    padding: 30px 0;

    width: 100%;
}

.past_conference_item {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.past_conference_item_img_box {
    position: relative;

    width: 40%;

    overflow: hidden;
}

.past_conference_item_img {
    width: 110%;
}

.past_conference_item_content {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.past_conference_item_title {
    position: relative;

    margin: 20px 0;

    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
}

.past_conference_item_title a {
    color: #313132;
}

.past_conference_item_title:after {
    content: "";

    position: absolute;

    bottom: -5px;
    left: 50%;

    transform: translate(-50%);

    width: 40%;
    height: 2px;

    background-color: #da532c;
}


.past_conference_item_description {
    color: #5b5959;
}

.past_conference_item_link_learn_more {
    margin: 30px 0;
    padding: 5px 10px;

    width: 200px;

    border-radius: 40px;
    background-color: #da532c;

    font-size: 16px;
    text-align: center;
    color: #252525;

    transition: all .2s;
}

.past_conference_item_link_learn_more:hover {
    background-color: rgba(228, 68, 24, 0.79);
}

.all_past_conferences {
    margin: 15px 0;
    padding: 7px 13px;

    width: 300px;

    border-radius: 40px;
    background-color: #da532c;

    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;

    transition: all .2s;
}

.all_past_conferences:hover {
    background-color: rgba(228, 68, 24, 0.79);
}
