.Instance {
    padding-bottom: 0;
}

.author_box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.author_image_box {
    position: relative;

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    overflow: hidden;
}

.author_image_box img {
    width: 140%;
}

.author_name {
    margin: 0 20px;

    max-width: 400px;

    font-size: 20px;
    color: #252424;
}

.author_name span {
    color: #e44418;
}

.instance_text {
    margin: 0 0 50px 0;
}

.edit_post_link {
    padding: 5px 30px;

    background-color: #e44418;

    border-radius: 20px;

    color: #252424;

}

.instance_image_list {
    display: flex;
    align-items: flex-start;
}


.Comments {
    margin: 0 auto;

    width: 80%;
}

.comment_item {
    width: 100%;
}

.comment_author {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: #595959;
}

.image_author {
    position: relative;

    margin-right: 20px;

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f5f5f5;
    
    border-radius: 50%;

    overflow: hidden;
}

.image_author img {
    width: 200%;
}

.comment_text {
    padding: 10px;

    font-size: 16px;
    color: #5b5959;
}

.edit_post_link {
    margin-left: 5%;
}

