header {
    position: relative;

    height: 400px;

    background-color: #e9e9e9;
}

.title_page_box {
    top: calc(50% + 20px);
}

.main_title_items_page {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #252424;
}

.item {
    padding: 80px 0;
}

.items_list {
    position: relative;

    margin: 0 auto;

    width: 75%;
}

.item {
    position: relative;

    padding: 20px 5px;
    margin: 20px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item_link {
    position: relative;
    margin: 20px 0;

    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 1px;
    color: #252424;

    transition: all .2s;
}

.item_link:hover {
    color: #615e5e;
}

.item_link:after {
    content: "";

    position: absolute;

    left: 50%;
    bottom: -2px;
    transform: translate(-50%, 0);

    width: 42%;
    height: 2px;

    background-color: #da532c;
}

.item_title {
    text-align: center;
}

.item_description {
    padding: 10px 20px;

    color: #5b5959;
}

.item_date {
    position: absolute;

    top: 15px;
    right: 15px;

    font-size: 14px;
    color: #888686;
}
