{% extends 'general/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cases.css') }}">
{% endblock styles %}

{% block titlePage %}
<h1 class="main_title_case_page">Cases</h1>
{% endblock titlePage %}

{% block main %}

<section class="Cases">

    <ul class="cases_lis">
        {% for case in cases %}

        <li class="cases_item">
            <div class="case_item_content">
                <a href="#" class="case_item_link">
                    <h2 class="case_item_title">{{ case.title }}</h2>
                </a>
                <p class="case_item_date">{{ case.date }}</p>
                <div class="case_item_header">
                    <p class="case_item_customer">Customer <span>{{ case.customer }}</span></p>
                    <p class="case_item_executor">Executor <span>Some executor</span></p>
                </div>
                <p class="case_item_description">
                    {{ case.text }}
                </p>
            </div>
        </li>

        {% endfor %}
    </ul>

</section>

{% endblock main %}