{% extends 'general/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cases.css') }}">
{% endblock styles %}

{% block titlePage %}
<h1 class="main_title_case_page">Cases</h1>
{% endblock titlePage %}

{% block main %}

<section class="Cases">

    <ul class="cases_lis">
        <li class="cases_item">
            <div class="case_item_content">
                <a href="#" class="case_item_link">
                    <h2 class="case_item_title">Some name of case</h2>
                </a>
                <p class="case_item_date">12.13.20</p>
                <div class="case_item_header">
                    <p class="case_item_customer">Customer <span>Some customer</span></p>
                    <p class="case_item_executor">Executor <span>Some executor</span></p>
                </div>
                <p class="case_item_description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem dolore harum iure
                    labore, non obcaecati suscipit velit. Animi aut, dolorum molestias officia sed voluptates
                    voluptatum. Aut ex ipsum laborum?
                </p>
            </div>
        </li>
        <li class="cases_item">
            <div class="case_item_content">
                <a href="#" class="case_item_link">
                    <h2 class="case_item_title">Some name of case</h2>
                </a>
                <p class="case_item_date">12.13.20</p>
                <div class="case_item_header">
                    <p class="case_item_customer">Customer <span>Some customer</span></p>
                    <p class="case_item_executor">Executor <span>Some executor</span></p>
                </div>
                <p class="case_item_description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem dolore harum iure
                    labore, non obcaecati suscipit velit. Animi aut, dolorum molestias officia sed voluptates
                    voluptatum. Aut ex ipsum laborum?
                </p>
            </div>
        </li>
        <li class="cases_item">
            <div class="case_item_content">
                <a href="#" class="case_item_link">
                    <h2 class="case_item_title">Some name of case</h2>
                </a>
                <p class="case_item_date">12.13.20</p>
                <div class="case_item_header">
                    <p class="case_item_customer">Customer <span>Some customer</span></p>
                    <p class="case_item_executor">Executor <span>Some executor</span></p>
                </div>
                <p class="case_item_description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem dolore harum iure
                    labore, non obcaecati suscipit velit. Animi aut, dolorum molestias officia sed voluptates
                    voluptatum. Aut ex ipsum laborum?
                </p>
            </div>
        </li>
        <li class="cases_item">
            <div class="case_item_content">
                <a href="#" class="case_item_link">
                    <h2 class="case_item_title">Some name of case</h2>
                </a>
                <p class="case_item_date">12.13.20</p>
                <div class="case_item_header">
                    <p class="case_item_customer">Customer <span>Some customer</span></p>
                    <p class="case_item_executor">Executor <span>Some executor</span></p>
                </div>
                <p class="case_item_description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem dolore harum iure
                    labore, non obcaecati suscipit velit. Animi aut, dolorum molestias officia sed voluptates
                    voluptatum. Aut ex ipsum laborum?
                </p>
            </div>
        </li>
        <li class="cases_item">
            <div class="case_item_content">
                <a href="#" class="case_item_link">
                    <h2 class="case_item_title">Some name of case</h2>
                </a>
                <p class="case_item_date">12.13.20</p>
                <div class="case_item_header">
                    <p class="case_item_customer">Customer <span>Some customer</span></p>
                    <p class="case_item_executor">Executor <span>Some executor</span></p>
                </div>
                <p class="case_item_description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem dolore harum iure
                    labore, non obcaecati suscipit velit. Animi aut, dolorum molestias officia sed voluptates
                    voluptatum. Aut ex ipsum laborum?
                </p>
            </div>
        </li>
    </ul>

</section>

{% endblock main %}