{% extends 'general/main.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contests.css') }}">
{% endblock styles %}

{% block titlePage %}
<h1 class="main_title_contests_page">World skills</h1>
{% endblock titlePage %}

{% block main %}

<section class="Contests">

    <div class="contest_box">
        <h2 class="contest_main_title">Upcoming contests</h2>
        <div class="slider_contest">
            <div class="contest_item">
                <div class="contest_item_img_box">
                    <img src="{{ url_for('static', filename='img/News__image.png') }}" alt="#" class="contest_item_img">
                </div>
                <div class="contest_item_content">
                    <h3 class="contest_item_title">
                        <a href="{{ url_for('contests.contests_instance', id=1) }}">Lorem ipsum dolor sit amet, consectetur</a>
                    </h3>
                    <p class="contest_item_description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dignissimos distinctio impedit molestiae! Accusantium aliquid,
                        cumque excepturi labore quo ratione rem sequi?
                        Alias eveniet ipsum nisi, non perspiciatis porro quia. Quod.
                    </p>
                    <a href="{{ url_for('contests.contests_instance', id=1) }}" class="contest_item_link_learn_more">Learn more</a>
                </div>
            </div>
        </div>
        <a href="{{ url_for('contests.contests_list') }}" class="all_contests">All contests</a>
    </div>

</section>

<section class="Past_contest">

    <div class="past_contest_box">

        <h2 class="past_contest_main_title">Past contest</h2>

        <ul class="past_contest_list">
            <li class="past_contest_item">
                <div class="past_contest_item_image"><img src="{{ url_for('static', filename='img/recipe__image.png') }}" alt=""></div>
                <div class="past_contest_item_content">
                    <h3 class="past_contest_item_title">
                        <a href="{{ url_for('contests.contests_instance', id=1) }}">Some past contest</a>
                    </h3>
                    <p class="past_contest_item_text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci aliquid cupiditate debitis, deserunt dicta distinctio,
                        eaque ex fuga illum laboriosam molestias necessitatibus nobis
                        nostrum numquam obcaecati perspiciatis repellat sint tenetur!
                    </p>
                    <span class="past_contest_item_date">10.10.20</span>
                </div>
            </li>
            <li class="past_contest_item">
                <div class="past_contest_item_image"><img src="{{ url_for('static', filename='img/News__image.png') }}" alt=""></div>
                <div class="past_contest_item_content">
                    <h3 class="past_contest_item_title">
                        <a href="{{ url_for('contests.contests_instance', id=1) }}">Some past contest</a>
                    </h3>
                    <p class="past_contest_item_text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci aliquid cupiditate debitis, deserunt dicta distinctio,
                        eaque ex fuga illum laboriosam molestias necessitatibus nobis
                        nostrum numquam obcaecati perspiciatis repellat sint tenetur!
                    </p>
                    <span class="past_contest_item_date">10.10.20</span>
                </div>
            </li>
            <li class="past_contest_item">
                <div class="past_contest_item_image"><img src="{{ url_for('static', filename='img/recipe__image.png') }}" alt=""></div>
                <div class="past_contest_item_content">
                    <h3 class="past_contest_item_title">
                        <a href="{{ url_for('contests.contests_instance', id=1) }}">Some past contest</a>
                    </h3>
                    <p class="past_contest_item_text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci aliquid cupiditate debitis, deserunt dicta distinctio,
                        eaque ex fuga illum laboriosam molestias necessitatibus nobis
                        nostrum numquam obcaecati perspiciatis repellat sint tenetur!
                    </p>
                    <span class="past_contest_item_date">10.10.20</span>
                </div>
            </li>
        </ul>

        <a href="{{ url_for('contests.past_contests_list') }}" class="all_past_contests">All past contests</a>

    </div>

</section>

{% endblock main %}